# backend

# fastapi
fastapi
uvicorn[standard]
pydantic[email]
python-multipart
# database
sqlalchemy
# auth and hashing
python-jose
bcrypt
passlib
# environment
python-dotenv
# testing
pytest
pytest-qt
pytest-mock
httpx

#frontend

requests
ipykernel
PyQt5