# backend

# fastapi
fastapi
uvicorn[standard]
pydantic[all]
python-multipart
# database
sqlalchemy
# auth and hashing
python-jose
bcrypt
passlib
# environment
python-dotenv
# testing
pytest
pytest-qt
httpx

#frontend

requests
ipykernel
PyQt5